act-dr6-cmbonly @ git+https://github.com/ACTCollaboration/DR6-ACT-lite.git@627aeafb88ae5ad1aa66b406bea2d65cfa66a27d
act-dr6-lenslike @ git+https://github.com/ACTCollaboration/act_dr6_lenslike.git@5d54308ec60acbf545fd4e46a10091cc6f8a2237
astropy==8.0.1
astropy-iers-data==0.2026.9.21.0.56.25
camb==1.6.6
candl-data @ git+https://github.com/Lbalkenhol/candl_data.git@c4eb8fbc5b0eb259ba487494b3cff918eac5c47a
candl-like @ git+https://github.com/Lbalkenhol/candl.git@650db0a6a0a2febed1e57350f0b991b537a4d2f7
certifi==2026.7.22
charset-normalizer==3.5.1
clipy-like==0.15
cobaya==3.6.2
contourpy==1.4.0
cycler==0.12.1
dill==0.4.1
fonttools==4.66.0
getdist==1.7.7
idna==3.20
iniconfig==2.3.0
kiwisolver==1.5.1
matplotlib==3.11.2
mpmath==1.3.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pip==26.2
pluggy==1.6.0
portalocker==4.4.0
py-bobyqa==1.5.0
pyerfa==2.0.1.5
pygments==2.21.0
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
pyyaml==6.0.3
rapidfuzz==3.14.6
requests==2.34.2
sacc==2.4
scipy==1.18.1
setuptools==84.0.0
six==1.17.0
spt-candl-data @ git+https://github.com/SouthPoleTelescope/spt_candl_data.git@efe35b7bfd815a115d5123e210a6849a4175bc81
sympy==1.14.0
tqdm==4.70.1
typing-extensions==4.16.0
urllib3==2.8.0
